.fast {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin-bottom: 2%;
}

.container {
    background: #ffff;
    box-shadow: 0 1px 3px rgba(214, 214, 214, 0.12), 0 1px 2px rgba(207, 207, 207, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 30px;
}

.box {
    padding: 10px;
}