.dashboardMain {
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.father {
    height: 100vh;
    width:100vw;
    position: relative;
    overflow: hidden;
}

.content {
    display: flex;
    z-index: 10;
}

.selectVideo {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: white;
    z-index: 155;
}