@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Sans+Mahajani&display=swap');

.title {
    /* font-family: 'ADLaM Display'; */
    margin-bottom: 8px;
}

.text {
    font-family: 'Noto Sans Mahajani', sans-serif;
    margin-bottom: 16px;
}

h3 {
    font-size: calc(1.3rem + .6vw) !important;
}